@use 'style/forward' as f;
@use "../node_modules/bootstrap/scss/bootstrap";

//fonts
@font-face {
    src: url("./fonts/Ubuntu-Regular.woff2") format("woff2");
    font: {
        family: 'Ubuntu';
        weight: 400;
        style: normal;
        display: swap;
    };
}

@font-face {
    src: url("./fonts/Ubuntu-Bold.woff2") format("woff2");
    font: {
        family: 'Ubuntu';
        weight: 700;
        style: normal;
        display: swap;
    };
}

@font-face {
    src: url("./fonts/Ubuntu-Light.woff2") format("woff2");
    font: {
        family: 'Ubuntu';
        weight: 300;
        style: normal;
        display: swap;
    };
}

html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu';
    background-color: f.$black;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

//HEADER
.navbar {
    background-color: f.$grey;
    position: sticky;
    top: 0;
    box-shadow: 0 0 0.1rem white;
    z-index: 1000;
    &-nav {
        gap: 20px;  
    }

    &-toggler {
        background-color: f.$white;
        border: 0;
        &:focus {
            box-shadow: 0 0 0 0.25rem f.$sky;
        }
    }

    &-title {
        color: f.$red;
        flex: 1;
        text-align: center;

        & h1 {
            font-weight: 700;
            display: block;
            margin-bottom: 0;
        }
    }

    &-collapse {
        flex-grow: 0;
        @include f.headerIndent()
    }

    & .nav-item {
        font-size: 1rem;
        & .nav-link{
            color: f.$sky;
            &:where(:hover, :active, :focus-visible) {
                outline: 0;
                color: f.$red;
                box-shadow: 0 0 0 0.25rem f.$red;
            }
        }
    }
}

// WIDGET
.card {
    margin: {
        inline: auto;
        top: 2rem;
        bottom: 2.6rem;
    };
    max-width: 1920px;
    display: flex;
    max-height: 65vh;
    flex-direction: row;
    color: f.$red;
    background-color: f.$grey;
    animation: widgetAppearance 1s ease-in-out forwards;
    @include f.widget(1920px) {
        margin-inline: 100px;
    }
    @include f.widget(1250px) {
        flex-direction: column;
        & .btn {
            align-self: flex-start;
            &-continue {
                padding-inline: 5rem;
            }
        }
    }
    @include f.widget(640px) {margin-inline: 45px;}
    @include f.widget(463px){
        margin-inline: 20px;
    }
    
    @keyframes opacitySlider {
        from {
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }

    &-carousel {
        display: flex;
        justify-content: center;
        flex: 7;
        overflow: hidden;
        &-image {
            flex: 0 0 100%;
            &.visible {
                transition: opacity .3s ease-in-out;
                opacity: 1;
            }
            &.unvisible{
                animation: opacitySlider .8s ease-in-out forwards;
            }
        }
        &-wrapper {
            display: flex;
            transition: transform 1s ease-in-out;
        }
    }

    &-body {
        display: flex;
        flex: 3;
        flex-direction: column;
        padding-inline: 2rem;
        @include f.widget(463px){
            padding-inline: 1rem;
        }
    }

    &-title {
        font-weight: 700;
    }
    &-text {
        font: {
            size: 1.1rem
        };
        color: f.$sky;
        @include f.widget(530px) {font-size: 0.9rem;}
    }

    &-btn-bar {
        display: flex;
        justify-content: space-between;
        margin-inline: 1.5rem;
        vertical-align: bottom;
        align-items: end;
        margin-top: auto;
        @include f.widget(1250px) {
            justify-content: end;
            column-gap: 5rem;
            margin-inline: 0;
        }
        @include f.widget(590px) {justify-content: space-around;}
    }

    & .btn {
        color: f.$sky;
        background-color: f.$red;
        margin-bottom: 10px;
        
        &:where(:hover, :focus-visible, :active) {
            opacity: .8;
            color: f.$black;
        }
        @include f.widget(590px) {
            &.btn-continue {
                padding-inline: 1rem;
                align-self: auto;
                margin-bottom: 20px;
            }
        }
    }
    & .btn:where(.next, .prev) {
        display: flex;
        background-color: f.$sky;
        color: f.$grey;
        & svg {pointer-events: none;}
    }
    
    @keyframes widgetAppearance {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

// FOOTER
.footer {
    margin-top: auto; //фиксированный отступ, чтобы прижать к низу
    color: f.$sky;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    background-color: f.$grey;
    padding: {
        inline: 120px;
        top: 20px;
        bottom: 20px;
    };
    @include f.footerOffset(670px, 60px);
    @include f.footerOffset(395px,45px);
    @include f.footerOffset(331px, 35px);
    &-header{
        font-weight: 700;
    }

    & ul {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding-left: 0;
        margin-bottom: 0;
    }

    &-link {
        text-decoration: none;
        color: f.$sky;
        &:hover {
            color: f.$red;
        }
    }

    & :where(
        .footer-logo, 
        .footer-navigation, 
        .footer-contacts, 
        .footer-networks
        ) {
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
    }

    & :where(span, a) {opacity: .8;}

    &-contacts{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    &-section {
        display: flex;
        column-gap: 10px;

        & :where(.footer-vk, .footer-telegram, .footer-github) {
            filter: grayscale(1);
            cursor: pointer;
        }
        
        & :where(.footer-vk, .footer-telegram, .footer-github):hover {
            filter: grayscale(0);
        }

        & .footer-vk:hover {fill: f.$vk;}
        & .footer-telegram:hover {fill: f.$telegram;}
        & .footer-github:hover {fill: f.$github;}
    }
}